#main {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    padding: 0.5%;
}

#main ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#main ul li {
    margin: 5%;
}

#main ul li:hover {
    color: gray;
    cursor: pointer;
}